# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# files not in use

src/components/effects/AnimatedCelestialBody.tsx
src\components\effects\FloatingGlowParticles.tsx
src\components\3d\MinimalistShape.tsx


